<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
	xmlns:aop="http://www.springframework.org/schema/aop"         
	xmlns:tx="http://www.springframework.org/schema/tx"          
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"          
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="          
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd          
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd          
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd          
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd          
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd"         
	default-autowire="byName">
	<bean id="testService" scope="prototype" class="cn.tv189.service.TestService"></bean>
	<bean id="jdbcHelper" class="cn.tv189.dao.JdbcHelper">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="initialSize" value="3"/>
		<property name="maxActive" value="100"/>
		<property name="maxIdle" value="2"/>
		<property name="minIdle" value="1"/>
	</bean>
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource2"/>
		<property name="mappingResources">
			<list>
				<value>cn/tv189/domain/student.hbm.xml</value>
			</list>	
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.OracleDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.format_sql=true
			</value>
		</property>
	</bean>
	
	<bean id="studentAction" class="cn.tv189.action.StudentAction">
		<property name="testService" ref="testService"/>
	</bean>
	
	<bean id="validCodeAction" class="cn.tv189.action.ValidCodeAction"></bean>
</beans>